<div>
<form>
  <div class="row">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" placeholder="Nombre" class="form-control" />
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Descripción de la tarea" id="floatingTextarea"></textarea>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Fecha Inicio</label>
      <input type="text" placeholder="Fecha Inicio" class="form-control" />
    </div>
  </div>
</form>
</div>