<h1>Lista de <small>Empleados  <i [routerLink]="['/home/registroEmp','0']" style="cursor: pointer;" class="fa fa-user-plus" aria-hidden="true"></i></small></h1>

<hr />
<div class="row">
  <div class="animated fadeIn" [ngStyle]="{ display: 'inline-block', width: adminTareasService._widthW }">
    <div class="list-group">
      <div class="row" *ngFor="let emp of listaEmpleados">
        <div class="col-11">
          <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="mostrarVentanaTareas(emp.id)" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ emp.nombre }}</h5>
              <small>Edad: {{ emp.edad }}</small>
              <span
                class="badge rounded-pill bg-primary"
                style="color: azure; font-weight: 100; padding-top: 7px"
              >
                {{ emp.sueldo | currency }}
              </span>
            </div>
            <p class="mb-1">{{ emp.email }}</p>
            <small>{{ emp.rfc }}</small>
          </a>
        </div>
        <div class="col-1">
          <div class="row">
            <div style="display: inline-block; width: 89%">
              <span class="i-emp-delete"
                ><i
                  [routerLink]="['/home/registroEmp', emp.id]"
                  class="fa fa-address-book-o"
                  aria-hidden="true"
                ></i
              ></span>
            </div>
          </div>
          <div class="row">
            <div style="display: inline-block; width: 89%">
              <span class="i-emp-delete"
                ><i
                  (click)="eliminar(emp.id)"
                  class="fa fa-trash-o"
                  aria-hidden="true"
                ></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="adminTareasService._showTareas" [ngStyle]="{width:'40%'}">
    <router-outlet></router-outlet>
  </div>
</div>
